@font-face{
    font-family:'Tobias-Regular';
    src: url(../fonts/Tobias-Regular.ttf) format("truetype");
    font-style:normal
}
@font-face{
    font-family:'Tobias-Thin';
    src: url(../fonts/Tobias-Thin.ttf) format("truetype");
    font-style:normal
}
@font-face{
    font-family:'Tobias-Bold';
    src: url(../fonts/Tobias-Bold.ttf) format("truetype");
    font-style:normal
}
h1, h2, h3, h4, h5, h6{font-family: 'Tobias-Bold';}
p{font-family: 'Tobias-Thin';}
.navbar a, .navbar a:focus{
    font-size: 18px;
    letter-spacing: 1px;
}
.navbar .getstarted, .navbar .getstarted:focus {
    color: #fff;
    font-size: 18px;
    border: 2px solid white;
    font-weight: 400;
    background-color: #47b2e4;
}
#header .container{border-bottom: 1px solid white;padding-bottom: 15px;}